# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Belajar Machine Learning
email: belajar@machinelearning.id
description: > # this means to ignore newlines until "baseurl:"
  Tempat belajar Machine Learning dari Nol.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://belajar.machinelearning.id" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  ai-id
version: v0.1.0

# Build settings
markdown: kramdown
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
source:      src
destination: docs
